



.theBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(132 210 191 / 50%);

}

.picture {
    background-color: black;
    height:200px;
    width:300px;
    margin:20px;
    border-radius: 5px;
    background-image:url("../../assets/Scooter1.jpg");
    background-position: center;
    background-size: cover;
}


.details {
    background-color: black;
    height: 100px;
    width:300px;
    margin: 20px;
    border-radius:5px;

}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: solid rgba(20, 6, 43, .7) 5px;
    background-image: url("../../assets/AdjustmentBackground4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    mix-blend-mode: color-burn;

}

h1 {
    height: 100px;
    font-size: 85px;
}

li {
    background-color: rgba(254, 254, 255, 0.8);
    border-radius: 2px;
    height:85px;
    color:black;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.list {
    width: 200px;
}