
<!-- <p>event-details works!</p> -->

<body>
    <h1>Event Details</h1>


    <div class="theBody">
        <h2>{{event.name}}</h2>

        <img src={{event.images[0].url}}>
       
        <div class='list'>
            <ul>
                <li class="right">Location</li>
                <li class='left'>Price</li>
                <li class='right'>Category</li>
                <li class='left'>Tickets</li>
                <li class='right'>Description</li>
                <li class='left'>Accessibility</li>
                <li class='right'>Date</li>
                <li class='left'>Details</li>
            </ul>
        </div>

        <a href="">Ticket Master Link</a>

    </div>
    <div class='buttons'>
        <button class='reset'>Reset</button>
        <button class='search'>Search</button>
        <button class='random'>Random</button>
    </div>
</body>
