<div>
    <button class='back-button' (click)='cancelSearch()'>
        <
    </button>
    <section>
        <h2>Find a Gathering</h2>

        <form>
            <input id='keyword' name='keyword' placeholder='keyword' 
            [(ngModel)]='keyword'>

            <input id='location' name='location' placeholder='location' 
            [(ngModel)]='location'>

            <input id='date' name='date' 
            placeholder='date' [(ngModel)]='date'>

            <input id='category' name='category' placeholder='category' 
            [(ngModel)]='category'>
        </form>

        <button (click)='searchEvent(keyword, location, date, category)'>Search</button>
    
        <button class='random-button' (click)='getRandom()'>Random</button>
    </section>
    
</div>



