* {
    height: 100vh;
}




body {
    background-image: url("../../assets/andre-benz-D6W63o3ZLQY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
section{
    width: 50%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    padding-top: 6vh;
}

h2{
    font-family: 'Roboto Condensed', Sans-Serif;
    font-weight: normal;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 3vh 0 2vh 0;
}

input{
    height: 40px;
    margin: 5px 0;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    color: black;
}

button, a {
    width: 50%;
    height: 300px;
    margin-bottom: 2vh;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(109, 68, 135);;
    color: white;
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 16px;
}

.back-button{
    width: 40px;
    background-color: white;
    border: none;
    font-size: 20px;
}