<section>
    <h2>Find a Gathering</h2>


    <form>
        <input id='keyword' name='keyword' placeholder='Keyword' [(ngModel)]='keyword'>

        <input id='location' name='location' placeholder='City' [(ngModel)]='location'>

        <!-- <input id='date' name='date' 
        placeholder='Date' [(ngModel)]='date'> -->
        <!-- <mat-form-field appearance='fill'> -->
        <div class='dateInput'>
            <input matInput [matDatepicker]="picker" id='date' name='date' placeholder='Date' [(ngModel)]='date'>

            <mat-datepicker-toggle class='datePicker' matSuffix [for]="picker"></mat-datepicker-toggle>

            <mat-datepicker #picker></mat-datepicker>
        </div>




        <!-- </mat-form-field> -->




        <input list='category' name='category' placeholder='Category' [(ngModel)]='category'>
        <datalist id='category'>
            <option value='Arts & Theatre'></option>
            <option value='Film'></option>
            <option value='Music'></option>
            <option value='Sports'></option>
        </datalist>
    </form>

    <button (click)='searchEvent(keyword, location, date, category)'>Search</button>

    <button class='polygon' (click)='getRandom()'>Random</button>
</section>