<app-search-criteria [events]='events | async' *ngIf='searchEvents'
(searched)='onSearch($event)' (cancel)='onCancel()'></app-search-criteria>

<header>
    <h1>re:Gather</h1>
</header>

<div class='container' [ngClass] ='{noscroll : searchEvents}'>
    <router-outlet></router-outlet>
</div>

<nav>
    <ul>
        <li>
            <a routerLink='' (click)='searchEvents = true'>Search</a>
        </li>
        <li>
            <a routerLink='/events'>Explore</a>
        </li>
        <li>
            <a routerLink='/my-events'>My Events</a>
        </li>
    </ul>
</nav>