<app-search-criteria [events]='events | async' *ngIf='searchEvents' (searched)='onSearch($event)'></app-search-criteria>

<header>
    <h1>re:Gather</h1>
</header>

<div class='container' [ngClass]='{displaynone : searchEvents}'>
    <router-outlet></router-outlet>
</div>

<nav>
    <ul>
        <li>
            <a routerLink='/search' (click)='searchEvents=true'>Search<fa-icon i class="navIcon" [icon]="faSearch">
                </fa-icon></a>
        </li>
        <li>
            <a routerLink='/events' (click)='searchEvents=false'>Explore<fa-icon i class="navIcon" [icon]="faGlobe">
                </fa-icon></a>
        </li>
        <li>
            <a routerLink='/my-events' (click)='searchEvents=false'>My Events<fa-icon i class="navIcon"
                    [icon]="faHeart"></fa-icon></a>
        </li>
    </ul>
</nav>