*{
    margin: 0;
    padding: 0;
     font-family: 'Orbitron', sans-serif; 
     /* color:white;  */
 } 

/* nav{ */
/*     height: 10vh; */
    /* border: black 1px solid;
    Font-Family: 'Cabin', Sans-Serif;
} */

a {
    text-decoration: none;
    color: white;
}

header{
    width: 100%;
    height: 7vh;
    min-height: 30px;
    position: fixed;
    top: 0;
    background-color: black;
    /* border-bottom: #333 px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', Sans-Serif;
    color:white;
    z-index: 1;
}





h1 {
    color:white;
}

nav{
    background-color: black;
    /* border-top: #333 1px solid; */
    height: 6vh;
    min-height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

nav ul{
    list-style-type: none;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

nav a{
    font-family: 'Roboto Condensed', Sans-Serif;
    text-decoration: none;
    color: white;
}

nav li:hover {
    transform: scale(1.05);
}

.navIcon {
    margin-left: 5px;
}

.container{
    margin: 6vh 0;
    padding: 20px;
}


.displaynone{
    display: none;
}

.icon {
    padding-left: 5px;
}

